.bar-long {
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 0;
  z-index: 99999;
  transition: width 0.4s;
}
.scroll-progress-bottom {
  height: 4px;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 0;
  z-index: 99999;
  transition: width 0.1s;
  display: none;
}
.bottom-progress-tooltip {
  border-radius: 8px;
  bottom: 15px;
  color: #fff;
  height: 28px;
  line-height: 2.2em;
  position: absolute;
  right: -20px;
  text-align: center;
  width: 45px;
}
.scroll-progress-bottom-triangle {
  bottom: 0;
  display: inline;
  height: 22px;
  margin: auto;
  position: absolute;
  right: -6px;
  top: 0;
  width: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.circular-progress-indicator {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 85px;
  height: 85px;
  display: none;
}
.circular-progress-count {
  position: absolute;
  top: 0;
  left: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
}
.circular-progress-indicator svg {
  position: absolute;
  height: 85px;
}
.circular-progress-indicator circle {
  fill: rgba(255,255,255,0.9);
}
.circular-progress-indicator svg .animated-circle {
  fill: transparent;
  stroke-width: 30px;
  stroke-dasharray: 126;
  stroke-dashoffset: 126;
}
#star-svg {
  height: 55px;
  position: fixed;
  right: 3%;
  top: 5%;
  width: 55px;
}
.scroll-progress-triangle {
  height: 0;
  position: absolute;
  width: 0;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline;
  top: 10px;
  bottom: 0;
}
#scroll-progress-flag {
  position: fixed;
  width: 60px;
  right: 10px;
  text-align: center;
  opacity: .75;
  display: none;
  top: 50%;
}
.scroll-progress-flag-inner-one {
  position: relative;
  height: 100%;
}
.scroll-progress-flag-inner-two {
  width: 60px;
  position: absolute;
  color: #fff;
  line-height: 3em;
  height: 40px;
  border-radius: 10px;
  top: 0;
  bottom: 0;
}
